body {
    font-family: Arial, sans-serif;
    background-image: url("https://images.wallpaperscraft.com/image/single/gradient_green_texture_131365_1600x900.jpg");
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    width: 50%;
    margin: 0 auto;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }
  