<!-- index.html -->

<!DOCTYPE html>
<html>
  <head>
    <title>Insert Venue Data</title>
    <link rel="stylesheet" href="static/style3.css">
  </head>
  <body>
    <h1>Insert Venue Data</h1>
    <form action="/" method="post">
      <label for="venue_id">Venue ID:</label>
      <input type="text" id="venue_id" name="venue_id" required>
      <label for="venue_city">Venue City:</label>
      <input type="text" id="venue_city" name="venue_city" required>
      <label for="venue_capacity">Venue Capacity:</label>
      <input type="text" id="venue_capacity" name="venue_capacity" required>
      <label for="cost_per_day">Cost per Day:</label>
      <input type="text" id="cost_per_day" name="cost_per_day" required>
      <label for="num_attendees">Number of Attendees:</label>
      <input type="text" id="num_attendees" name="num_attendees" required>
      <label for="equipments">Equipments:</label>
      <input type="text" id="equipments" name="equipments" required>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
