<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
	<link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
	<div class="loginbox">
		<h1>Register</h1>
		<form method="POST">
			<p>EmployeeID</p>
			<input type="text" name="epid" placeholder="Enter Employee ID">
			<p>Username</p>
			<input type="text" name="address" placeholder="Enter Address">
			<p>Address</p>
			<input type="text" name="username" placeholder="Enter Username">
			<p>Password</p>
			<input type="password" name="password" placeholder="Enter Password">
			<input type="submit" name="submit" value="Register">
			<a href="/login">Already have an account? Login</a>	
		</form>
	</div>
</body>
</html>
